*.bak


/chromium/*
/VSCodium/*
OpenRGB/logs/*
session/*
dconf/user
kde.org/*
obsidian/
nvim/lazy-lock.json
BetterDiscord/*
eas-cli-nodejs/*
equibop/*
go/telemetry/*
gtk-3.0/gtk.css
gtk-4.0/gtk.css
illogical-impulse/*
legcord/themes/caelestia.theme.css
PureRef/*
Vencord/themes/caelestia.theme.css
vesktop/themes/caelestia.theme.css
quickshell/*
qt5ct/qt5ct.conf
qt6ct/qt6ct.conf
qt6ct/colors/caelestia.colors
QtProject/*
spicetify/Themes/caelestia/color.ini
Vencord/*
vesktop/*
Google/*