*.bak


/chromium/*
/VSCodium/*
OpenRGB/logs/*
session/*
dconf/user
kde.org/*
obsidian/
nvim/lazy-lock.json
BetterDiscord/*
eas-cli-nodejs/*
equibop/*
go/telemetry/*
/gtk-3.0/*
gtk-4.0/*
illogical-impulse/*
legcord/*
PureRef/*
Vencord/*
vesktop/*
quickshell/*
qt5ct/*
qt6ct/*
QtProject/*
spicetify/*
Vencord/*
vesktop/*
Google/*
